<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.teemtok.yamba"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="8" />

    <application
        android:name=".YambaApplication"
        android:allowBackup="true"
        android:icon="@drawable/sphere1lm1"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".StatusActivity"
            android:label="@string/title_activity_status" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name=".UpdaterService" />
        <service android:name=".UpdaterService2" />

        <receiver android:name=".BootReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <receiver android:name=".NetworkReceiver" >
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>

        <activity
            android:name="PrefsActivity"
            android:label="@string/titlePrefs" >
        </activity>
        <activity
            android:name="AlertActivity"
            android:label="@string/titleAlerts" >
            <intent-filter>
                <action android:name="com.teemtok.yamba.NEW_ALERT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AlertDetailActivity"
            android:label="@string/title_activity_alert_detail" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.teemtok.yamba.AlertActivity" />
        </activity>
        <activity
            android:name=".HostListActivity"
            android:label="@string/title_activity_host_list" >

            <!--
            <intent-filter>

            </intent-filter>
            -->
        </activity>
    </application>

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <permission
        android:name="com.teemtok.yamba.SEND_ALERT_NOTIFICATIONS"
        android:description="@string/send_alert_notifications_permission_description"
        android:label="@string/send_alert_notifications_permission_label"
        android:permissionGroup="android.permission-group.PERSONAL_INFO"
        android:protectionLevel="normal" />
    <permission
        android:name="com.teemtok.yamba.RECEIVE_ALERT_NOTIFICATIONS"
        android:description="@string/receive_alert_notifications_permission_description"
        android:label="@string/receive_alert_notifications_permission_label"
        android:permissionGroup="android.permission-group.PERSONAL_INFO"
        android:protectionLevel="normal" />

    <uses-permission android:name="com.teemtok.yamba.SEND_ALERT_NOTIFICATIONS" />
    <uses-permission android:name="com.teemtok.yamba.RECEIVE_ALERT_NOTIFICATIONS" />

</manifest>